  .highlight {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }

  .block-focused-click{
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0);
  }
  
  .selected-tour{
    position: relative;
    z-index: 2;
    background-color: #fff;
    border-radius: 8px;
    overflow: "visible" !important;
  }
  
  .tour-tip{
    position: absolute;
    z-index: 2000;
    border-radius: 8px;
    width: 300px;
    background: #fff;
    border: 1px solid #aaa;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
  }
  .tour-tip h3{
    border-radius: 8px 8px 0px 0px;
    background: #eee;
    padding: 5px 10px 5px 10px;
    margin: 0;
  }
  .tour-tip p{
    padding: 10px;
    margin: 0;
  }


  .red-text{
    color:#FF0000
  }

  .focus-box{
    margin: 0px 15px 5px 15px !important;
    border-radius: 0;
    -webkit-animation: glowing 2500ms infinite;
    -moz-animation: glowing 2500ms infinite;
    -o-animation: glowing 2500ms infinite;
    animation: glowing 2500ms infinite;
  }

  .pulse-color svg{
    -webkit-animation: color-pulsing 2500ms infinite;
    -moz-animation: color-pulsing 2500ms infinite;
    -o-animation: color-pulsing 2500ms infinite;
    animation: color-pulsing 2500ms infinite;
  }

  @-webkit-keyframes color-pulsing {
      0% { color: #EDA9A9; -webkit-box-shadow: 0px 0px 50px 10px #E9E9E9; -webkit-background-color: #FFFFFF80;}
      50% { color: #FF0101; -webkit-box-shadow: 0px 0px 0px 0px #D79898; -webkit-background-color: #FFFFFF30;}
      100% { color: #EDA9A9; -webkit-box-shadow: 0px 0px 50px 10px #E9E9E9; -webkit-background-color: #FFFFFF80;}
  }
  @-moz-keyframes color-pulsing {
      0% { color: #EDA9A9; -moz-box-shadow: 0px 0px 50px 10px #E9E9E9; -moz-background-color: #FFFFFF80;}
      50% { color: #FF0101; -moz-box-shadow: 0px 0px 0px 0px #D79898; -moz-background-color: #FFFFFF30;}
      100% { color: #EDA9A9; -moz-box-shadow: 0px 0px 50px 10px #E9E9E9; -moz-background-color: #FFFFFF80;}
  }
  @-o-keyframes color-pulsing {
      0% { color: #EDA9A9; box-shadow: 0px 0px 50px 10px #E9E9E9; background-color: #FFFFFF80;}
      50% { color: #FF0101; box-shadow: 0px 0px 50px 10px #E9E9E9; background-color: #FFFFFF30;}
      100% { color: #EDA9A9; box-shadow: 0px 0px 50px 10px #E9E9E9; background-color: #FFFFFF80;}
  }
  @keyframes color-pulsing {
      0% { color: #EDA9A9; box-shadow: 0px 0px 50px 10px #E9E9E9; background-color: #FFFFFF80;}
      50% { color: #FF0101; box-shadow: 0px 0px 0px 0px #D79898; background-color: #FFFFFF30;}
      100% { color: #EDA9A9; box-shadow: 0px 0px 50px 10px #E9E9E9; background-color: #FFFFFF80;}
  }

  @-webkit-keyframes glowing {
    0% { -webkit-box-shadow: 0px 0px 100px 2px #B20000; }
    50% { -webkit-box-shadow: 0px 0px 0px 0px #FF0000; }
    100% { -webkit-box-shadow: 0px 0px 100px 2px #B20000; }
  }
  
  @-moz-keyframes glowing {
    0% { -moz-box-shadow: 0px 0px 100px 2px #B20000; }
    50% { -moz-box-shadow: 0px 0px 0px 0px #FF0000; }
    100% { -moz-box-shadow: 0px 0px 100px 2px #B20000; }
  }
  
  @-o-keyframes glowing {
    0% { box-shadow: 0px 0px 100px 2px #B20000; }
    50% { box-shadow: 0px 0px 0px 0px #FF0000; }
    100% { box-shadow: 0px 0px 100px 2px #B20000; }
  }
  
  @keyframes glowing {
    0% { box-shadow: 0px 0px 10px 2px #B20000; }
    50% { box-shadow: 0px 0px 0px 0px #FF0000; }
    100% { box-shadow: 0px 0px 10px 2px #B20000; }
  }


  .point-to{
    border: 2px solid #f00;
    border-radius: 15px
  }

.grabbable {
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
